<head>
    <title>CyberIA</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="favicon_64px.png" sizes="64x64">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="app">
        <div class="banner">
            <img style="position: absolute;left:0;"  src="https://fauux.neocities.org/LainLaugh.gif" alt="lain" >
            <img style="position: absolute;right:0;"  src="https://fauux.neocities.org/LainDressSlow.gif" alt="lain" >

            <h1>Ｃｙｂｅｒ ＩＡ</h1>
            <p>lets all love lain</p>
        </div>
        <div class="subbanner" style="position: fixed;z-index: 100;">
            <a href="/"><button>home</button></a>
            <a v-if="blogged" href="/profile"><button >profile</button></a>
            <a v-else href="/register"><button>register</button></a>

            <a href="/messages"><button>chat</button></a>
            <a href="/search"><button>search</button></a>
            <a><button @click="logout" style="position: absolute;right: 10;height: 30px;">sign-out</button></a>

        </div><br><br>
        <div class="themes">
            <article class="fixed" style="margin-top: 5%; min-height: 80%;" >
                <div @click="postmode=true" class="options" v-if="postmode==false">
                    <i style="color: white;position: absolute;left: 0;" class="fa fa-plus" aria-hidden="true"></i>
                    <i @click="document.getElementsByClassName('options')[0].remove();document.getElementsByClassName('fixed2')[0].style.marginTop='5%'" style="color: white;position: absolute;right: 0;" class="fa fa-eye-slash" aria-hidden="true"></i>
                    <h1>ｎｅｗ　ｔｏｐｉｃ</h1>
                </div>
                <div  style="min-height: 30px;" class="topics" v-for="i in pinned" v-if="postmode==false">
                    <img src="favicon_64px.png">
                    <a v-bind:href="'/topic?id='+i.TITLE"><h1 style="margin-left: 110px;">{{i.TITLE}}<br>{{i.SUBTITLE}}<br>By:<br>{{i.AUTHOR}}</h1></a> 

                </div>
                <nav v-if="postmode">
                    <form action="/newpost" method="POST"   @keydown.enter="$event.preventDefault()">
                    <div class="profileimage">
                        <img placeholder="upload img" style="margin-left:15px ;margin-top: 15px; box-shadow: 0px 0px 8px #DC7288;" width="250px" height="250px" src="lain.gif">
                        <input  @change="imgs_"  style="margin-left: 80px; margin-top: 270px; color: transparent;" multiple="true" type="file" class="file" accept="image/jpeg, image/png, image/jpg">
                    </div>
                    <br>
                    <h1 style="margin-top: 1px; font-family: 'Noto Sans Mahajani', sans-serif;color:white;font-size: 45px;text-shadow: 0px 0px 10px #f05876;">Titulo:</h1>
                    <input  v-on:keyup.enter="nline($event)" style="min-height: 30px; font-size: 25px; margin-left: 0px; margin-top: 20px;width: 50%;"  name="title" class="button" type="text">
                    <BR><BR><BR><BR><BR>
                    <h1 style="margin-top: 0px; font-family: 'Noto Sans Mahajani', sans-serif;color:white;font-size: 45px;text-shadow: 0px 0px 10px #f05876;">Sub-Titulo:</h1>
                    <input  v-on:keyup.enter="nline($event)" style="min-height: 30px;font-size: 16px; margin-left: 0px; margin-top: 0px;width: 50%;"  name="subtitle" class="button" type="text">
                    <input  v-on:keyup.enter="nline($event)" hidden name="theme" value="cpp" class="button" type="text">
                    <BR><BR><BR>
                    <h1 style="margin-top: 10px; font-family: 'Noto Sans Mahajani', sans-serif;color:white;font-size: 45px;text-shadow: 0px 0px 10px #f05876;">Content:</h1> 
                    <h5 style="color: white;">Suporte a html!</h5><br>
                    <textarea v-on:keyup.enter="nline($event)"  name="content" class="cttn"></textarea><br><br><br><br>
                    <button  id="button" class="button" style="width: 50%" id="upldButton" type="submit">publicar</button>

                    </form>
                </nav>
                <br>
            </article>
        </div>
    
    </body>
    <script>
    var app = new Vue({
        el: '#app',
            data: {
                blogged:false,
                pinned:[],
                postmode:false,    
            },
            methods:{
                logout:function(){
                    fetch("/signout",{method:'POST'}).then(x => {}).then(x => {})
                    this.username=""
                    this.blogged=false
                },
                nline:function(e){
                    if (e) event.preventDefault();
                    if (e) event.stopPropagation();
                    if(document.activeElement.tagName != "INPUT")
                        document.activeElement.value += "\n"
                    else
                        document.activeElement.value += "n"
                },
                imgs_:(e) => {
                    var dataa = new FormData()
                    for (const file of e.target.files) 
                        dataa.append('img',file)
                    fetch('/uploadImg', {
                        method: 'POST',
                        body: dataa
                    }).then(_ => {
                        return _.json()
                    }).then(x => {
                        x=x.replace("[","")
                        x=x.replace("]","")
                        x.split(",").forEach(x => document.getElementsByClassName("cttn")[0].value += "<img src='"+x + "' alt=''>\n")
                    })
                    
                }
            },
            mounted () {
                if(this.username!="" && this.username!='user='){
                    this.blogged=true
                }
                fetch("/getPost?st=theme&s=cpp",{method:'GET'}).then(x =>  {
                    return x.json()
                }
                ).then(data => {
                    this.pinned = data
                })
            }
                
    })
    window.onscroll = function() {
        if (window.pageYOffset > 0) {
        document.getElementsByClassName("subbanner")[0].style.top = "0px"
        }if(window.pageYOffset ==0) {
            document.getElementsByClassName("subbanner")[0].style.top = "185px"
        }
    };
    </script>